* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: inherit;
  transition: all 0.5s;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #eeeeee !important;
}

input,
select,
textarea {
  background-color: transparent !important;
  border-bottom: 1px solid #cac7c7;
}

.resume-section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #cac7c7;
}

.user-social-icons > a {
  color: transparent;
  font-size: 1.6rem;
}
