* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: inherit;
  transition: all 0.5s;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #eeeeee !important;
}
